<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Warehouse</dt>
      <dd><%= @listing.warehouse_id %></dd>

      <dt>Price</dt>
      <dd><%= @listing.price %></dd>

      <dt>Sqft available</dt>
      <dd><%= @listing.sqft_available %></dd>

      <dt>Start date</dt>
      <dd><%= @listing.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @listing.end_date %></dd>

      <dt>Status</dt>
      <dd><%= @listing.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Listing has many reservations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reservations
      </li>

      <% @listing.reservations.each do |reservation| %>
        <li class="list-group-item">
          <a href="/reservations/<%= reservation.id %>">
            <%= reservation.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reservation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Reservation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
