<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many reservations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reservations
      </li>

      <% @user.reservations.each do |reservation| %>
        <li class="list-group-item">
          <a href="/reservations/<%= reservation.id %>">
            <%= reservation.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reservations/<%= reservation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == reservation.user %>
              <a href="/reservations/<%= reservation.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_reservation/<%= reservation.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @user.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == favorite.user %>
              <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many warehouses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Warehouses
      </li>

      <% @user.warehouses.each do |warehouse| %>
        <li class="list-group-item">
          <a href="/warehouses/<%= warehouse.id %>">
            <%= warehouse.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/warehouses/<%= warehouse.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == warehouse.user %>
              <a href="/warehouses/<%= warehouse.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_warehouse/<%= warehouse.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @user.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == review.user %>
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many replies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Replies
      </li>

      <% @user.replies.each do |reply| %>
        <li class="list-group-item">
          <a href="/replies/<%= reply.id %>">
            <%= reply.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/replies/<%= reply.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == reply.user %>
              <a href="/replies/<%= reply.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_reply/<%= reply.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
