<div class="page-header">
  <h3>Reservation #<%= @reservation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @reservation.user.present? %>
          <a href="/users/<%= @reservation.user_id %>">
            <%= @reservation.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Listing</dt>
      <dd>
        <% if @reservation.listing.present? %>
          <a href="/listings/<%= @reservation.listing_id %>">
            <%= @reservation.listing.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd><%= @reservation.status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reservations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @reservation.user %>
        <a href="/reservations/<%= @reservation.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_reservation/<%= @reservation.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
