<div class="page-header">
  <h1>
    Warehouses
    <a href="/warehouses/new" class="btn btn-lg btn-success">New Warehouse</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>State</th>
        <th>Name</th>
        <th>Sqft</th>
        <th>Address</th>
        <th>Staffed</th>
        <th>Storage methods</th>
        <th>Total stars</th>
        <th>Num reviews</th>
        <th>Actions</th>
      </tr>

      <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.user.email %></td>
        <td><%= warehouse.city.name %></td>
        <td><%= warehouse.name %></td>
        <td><%= warehouse.sqft %></td>
        <td><%= warehouse.address %></td>
        <td><%= warehouse.staffed %></td>
        <td><%= warehouse.storage_methods %></td>
        <td><%= warehouse.total_stars %></td>
        <td><%= warehouse.num_reviews %></td>
        <td>
          <a href="/warehouses/<%= warehouse.id %>" class="btn btn-primary">Show</a>
          <a href="/warehouses/<%= warehouse.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_warehouse/<%= warehouse.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
