<!-- Validation failure messages -->
<% if @warehouse.errors.any? %>
  <% @warehouse.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Warehouse</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_warehouse" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @warehouse.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for state_id -->
      <div class="form-group">
        <label for="state_id" class="control-label">
          State
        </label>

        <%= select_tag(:state_id, options_from_collection_for_select(State.all, :id, :name, @warehouse.state_id), :class => "form-control") %>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <textarea id="name" name="name" placeholder="Name" class="form-control" rows="3"><%= @warehouse.name %></textarea>
      </div>

      <!-- Label and input for sqft -->
      <div class="form-group">
        <label for="sqft" class="control-label">
          Sqft
        </label>

        <input type="text" id="sqft" name="sqft" placeholder="Sqft" class="form-control" value="<%= @warehouse.sqft %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @warehouse.address %>">
      </div>

      <!-- Label and input for staffed -->
      <div class="form-group">
        <label for="staffed" class="control-label">
          Staffed
        </label>

        <input type="text" id="staffed" name="staffed" placeholder="Staffed" class="form-control" value="<%= @warehouse.staffed %>">
      </div>

      <!-- Label and input for storage_methods -->
      <div class="form-group">
        <label for="storage_methods" class="control-label">
          Storage methods
        </label>

        <input type="text" id="storage_methods" name="storage_methods" placeholder="Storage methods" class="form-control" value="<%= @warehouse.storage_methods %>">
      </div>

      <!-- Label and input for total_stars -->
      <div class="form-group">
        <label for="total_stars" class="control-label">
          Total stars
        </label>

        <input type="text" id="total_stars" name="total_stars" placeholder="Total stars" class="form-control" value="<%= @warehouse.total_stars %>">
      </div>

      <!-- Label and input for num_reviews -->
      <div class="form-group">
        <label for="num_reviews" class="control-label">
          Num reviews
        </label>

        <input type="text" id="num_reviews" name="num_reviews" placeholder="Num reviews" class="form-control" value="<%= @warehouse.num_reviews %>">
      </div>

      <button class="btn btn-success">
        Create Warehouse
      </button>
      or
      <a href="/warehouses">Cancel</a>
    </form>
  </div>
</div>
