<div class="page-header">
  <h3>Warehouse #<%= @warehouse.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @warehouse.user.present? %>
          <a href="/users/<%= @warehouse.user_id %>">
            <%= @warehouse.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>State</dt>
      <dd>
        <% if @warehouse.city.present? %>
          <a href="/states/<%= @warehouse.state_id %>">
            <%= @warehouse.city.name %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @warehouse.name %></dd>

      <dt>Sqft</dt>
      <dd><%= @warehouse.sqft %></dd>

      <dt>Address</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

      <dt>Staffed</dt>
      <dd><%= @warehouse.staffed %></dd>

      <dt>Storage methods</dt>
      <dd><%= @warehouse.storage_methods %></dd>

      <dt>Total stars</dt>
      <dd><%= @warehouse.total_stars %></dd>

      <dt>Num reviews</dt>
      <dd><%= @warehouse.num_reviews %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/warehouses" class="btn btn-primary">
        Back
      </a>
      <a href="/warehouses/<%= @warehouse.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_warehouse/<%= @warehouse.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Warehouse has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @warehouse.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.warehouse_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photo" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for warehouse_id -->
      <input type="hidden" name="warehouse_id" value="<%= @warehouse.id %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <!-- Label and input for caption -->
      <div class="form-group">
        <label for="caption" class="control-label">
          Caption
        </label>

        <input type="text" id="caption" name="caption" placeholder="Caption" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Warehouse has many listings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listings
      </li>

      <% @warehouse.listings.each do |listing| %>
        <li class="list-group-item">
          <a href="/listings/<%= listing.id %>">
            <%= listing.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/listings/<%= listing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/listings/<%= listing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_listing/<%= listing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for warehouse_id -->
      <input type="hidden" name="warehouse_id" value="<%= @warehouse.id %>">

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <!-- Label and input for sqft_available -->
      <div class="form-group">
        <label for="sqft_available" class="control-label">
          Sqft available
        </label>

        <input type="text" id="sqft_available" name="sqft_available" placeholder="Sqft available" class="form-control" value="">
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="">
      </div>

      <!-- Label and input for end_date -->
      <div class="form-group">
        <label for="end_date" class="control-label">
          End date
        </label>

        <input type="text" id="end_date" name="end_date" placeholder="End date" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Listing
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Warehouse has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @warehouse.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for warehouse_id -->
      <input type="hidden" name="warehouse_id" value="<%= @warehouse.id %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for num_stars -->
      <div class="form-group">
        <label for="num_stars" class="control-label">
          Num stars
        </label>

        <input type="text" id="num_stars" name="num_stars" placeholder="Num stars" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Warehouse has many favorites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Favorites
      </li>

      <% @warehouse.favorites.each do |favorite| %>
        <li class="list-group-item">
          <a href="/favorites/<%= favorite.id %>">
            <%= favorite.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/favorites/<%= favorite.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for warehouse_id -->
      <input type="hidden" name="warehouse_id" value="<%= @warehouse.id %>">

      <button class="btn btn-block btn-success">
        Create Favorite
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @warehouse.address_latitude %>,
        "lng": <%= @warehouse.address_longitude %>,
        "infowindow": "<h5><%= @warehouse.created_at %></h5><small><%= @warehouse.address_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>